<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILdapAuthenticationService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bellcdsc.txt.textron.com/CoreServices/LdapAuthenticationService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILdapAuthenticationService"
                contract="LdapAuthenticationServiceReference.ILdapAuthenticationService"
                name="WSHttpBinding_ILdapAuthenticationService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>